.wrapperAuth {
    margin : 100px auto;
    max-width : 300px;
    max-height : 960px;
    padding : 20px;
}

.submitbutton{
    position: fixed;
    float : right;
}

.EMbanner{
    margin: 0 0 10px 0;
    width: 100%;
}

.EMsectionTitle{
    text-align:center;
}

.wrapperCards{
    margin : 100px auto auto auto;
    padding : 20px;
    max-width : 500px;
}

.wrapperNotification{
    margin : 100px auto auto auto;
    text-align: center;
    color: darkgray;
}

.lowerButton{
    float:right;
}

.erreur {
    color: rgb(213,0,0);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block;
}
.erreur {
    visibility: visible;
}

.header-content{
    text-align:center;
}

.header-right{
    text-align:right;
}

li:hover {
    background-color : lightgrey;
}

a{
    color:inherit !important;
    text-decoration: none;
}

#alert {
    position: relative;
}
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Cliquer pour faire disparaître';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 200px;
}
#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    animation: alert 1s ease forwards;
    background-color: #c4453c;
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
}

.redAlert{
    background-color: #c4453c;
}

.blueAlert{
    background-color : blue;
}

@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}

.eventAddress{
    color : lightsteelblue;
    font-style : italic;
}

.eventDate{
    text-align:center;
}