.wrapperAuth {
    margin : 100px auto;
    max-width : 300px;
    max-height : 960px;
    padding : 20px;
}

.submitbutton{
    position: fixed;
    float : right;
}

.EMbanner{
    margin: 0 0 10px 0;
    width: 100%;
}

.EMsectionTitle{
    text-align:center;
}

.wrapperCards{
    margin : 100px auto auto auto;
    padding : 20px;
    max-width : 500px;
}

.wrapperNotification{
    margin : 100px auto auto auto;
    text-align: center;
    color: darkgray;
}

.lowerButton{
    float:right;
}

.header-content{
    text-align:center;
}

.header-right{
    text-align:right;
}

li:hover {
    background-color : lightgrey;
}

a{
    color:inherit !important;
    text-decoration: none;
}