.wrapperAuth {
    margin : 100px auto auto auto;
    max-width : 300px;
    max-height : 960px;
    padding : 20px;
}

.submitbutton{
    position: fixed;
    float : right;
}

.EMbanner{
    margin: 0 0 10px 0;
    width: 100%;
}

.EMsectionTitle{
    text-align:center;
}